.body{
	font-family: calibri;
}
.heading{
	height:160px;
	text-align:center;	
    background-color: #FDF06E;
	padding-top:20px;	
	padding-bottom:20px;
	

}
.heading h1{
	font-size:80px;
	
		
}
.add-btn{
	background-color: #fbca03;
	float:right;
    position: relative;
	bottom: 60px;
    right: 60px;
    padding: 6px 10px;
    font-size: 16px;
    font-weight: 700;
    color: black;
	border-radius: 5px;
		
	
}
.link{
	margin-top:50px;
	margin-left:80px;
}

.link a{
	padding:8px 22px;
	color: white;
	font-size:18px;
	background-color: black;
}
.link a:hover{
	color: black;
	background-color: yellow;
	text-decoration: none;
}
.right1{
	padding-top:40px;

}
.rightcontent{
	background-image: url(assets/images/libbg2.jpg);
	background-repeat: no-repeat;
	background-size:100%;
	padding-bottom: 30px;
}
.image1 img{
	padding-top:30px;
	height: 400px;
    width: 300px;
}

.leftcontent{
	background-image: url(assets/images/libbg1.jpg);
	background-repeat: no-repeat;
	background-size:100%;
	
}
.left1{
	padding-top:30px;
	
	
}
.image img{
	padding-top:40px;
	height: 400px;
	width: 300px;
	padding-bottom:30px;
}

.address{
	padding-bottom:40px;
}
.address h2{
	font-size: 60px;
	text-align: center;
	font-weight:400;
	margin-top:30px;
	margin-bottom:45px;
	font-family:gabriola;
}
.fifth-block h2{
	font-size: 25px;
	text-align: left;
}
.fifth-block h3{
	font-size: 20px;
	margin-bottom: 0px;
}
.fifth-block p{
	font-size: 17px;
	line-height: 26px;
	margin-bottom: 0px;
}
.fifth-block a{
	text-decoration: none;
	font-size: 17px;
	margin:0px;
	color: #024d87;
}